<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @contact.birthday %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>

<hr />

<table>
  <thead>
    <tr>
      <th>Phonenumber</th>
      <th>Email</th>
      <th colspan="3"><%= link_to 'ajouter telephone a ' + @contact.fullname, new_contact_telephone_path(@contact) %></th>
    </tr>
  </thead>

  <tbody>
    <% @contact.telephones.each do |telephone| %>
      <tr>
        <td><%= telephone.phonenumber %></td>
        <td><%= telephone.email %></td>
        <td><%= link_to 'Show', contact_telephone_path(@contact,telephone) %></td>
        <td><%= link_to 'Edit', edit_contact_telephone_path(@contact,telephone) %></td>
        <td><%= link_to 'Destroy', contact_telephone_path(@contact,telephone), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<table>
  <thead>
    <tr>
      <th>name</th>
      <th colspan="3"><%= link_to 'ajouter travail a ' + @contact.fullname, newWork_path(@contact) %></th>
    </tr>
  </thead>

  <tbody>
    <%  @contact.contacts_works do |work|  %>
      <tr>
        <td><%= works.w %></td>
        <td><%#= telephone.email %></td>
        <td><%#= link_to 'Show', contact_telephone_path(@contact) %></td>
        <td><%#= link_to 'Edit', edit_contact_telephone_path(@contact) %></td>
        <td><%#= link_to 'Destroy', contact_telephone_path(@contact,telephone), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
